<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div  class ="input-form">
    <p class="input-form-title">Input Verify Data</p>

      <div class="input-form-elements" >
          <div style='display:inline;float:left;width:30%' ><label >Image URL</label></div>
          <div style='display:inline;float:left;width:60%'><input class="input-element1" [(ngModel)]="metadataURL" style="border: 0px;border-bottom: #9B9B9B 1.5px solid; background-color: #FAFAFA;"> </div>
      </div>


      <div class="input-form-button">
         <button mat-raised-button color="primary"  style='display:inline;float:right;width:10%; margin-right:60px;' (click) = "onClickVerifyButton()">Verify</button>
         <button mat-raised-button color="primary"  style='display:inline;float:right;width:10%; margin-right:20px;' (click)= "onClickClearButton()">Clear</button>
      </div>

</div>



    <div style='display:inline;float:left;width:100%;' >
      <div  class ="result-form">


            <table>
              <colgroup>
                  <col width="40">
                  <col>
                  <col width="40">
                  <col>
              </colgroup>
              <tbody>

                      <tr  *ngFor="let item of metadataList; let i =index">
                            <!--  case3은 메타데이터1이 공백이고 case4는 메타데이터2가 공백이다 -->


                          <!-- case1 : 두메타데이터가 동일한 key를 갖고 있으나 value는 다름 -->
                              <td class="line-num red-num" *ngIf="item['case'] == '1'">{{i+1}}</td>
                              <td class="line-data red-data" *ngIf="item['case'] == '1'"><span>&nbsp;- {{item['metadata1']}}</span></td>
                              <td class="line-num green-num" *ngIf="item['case'] == '1'">{{i+1}}</td>
                              <td class="line-data green-data" *ngIf="item['case'] == '1'"><span>&nbsp;+ {{item['metadata2']}}</span></td>

                          <!-- case1 : 두메타데이터가 동일한 key를 갖고 있으나 value도 일치 -->
                              <td class="line-num" *ngIf="item['case'] == '2'">{{i+1}}</td>
                              <td class="line-data" *ngIf="item['case'] == '2'"><span>&nbsp;&nbsp;&nbsp;{{item['metadata1']}}</span></td>
                              <td class="line-num" *ngIf="item['case'] == '2'">{{i+1}}</td>
                              <td class="line-data" *ngIf="item['case'] == '2'"><span>&nbsp;&nbsp;&nbsp;{{item['metadata2']}}</span></td>

                          <!-- case1 : 메타데이터1에선 없던것을 메타데이터 2가 해당값을 갖고있음 -->
                              <td class="line-num" *ngIf="item['case'] == '3'">{{i+1}}</td>
                              <td class="line-data" *ngIf="item['case'] == '3'"><span> &nbsp;&nbsp;&nbsp;{{item['metadata1']}}</span></td>
                              <td class="line-num green-num" *ngIf="item['case'] == '3'">{{i+1}}</td>
                              <td class="line-data green-data" *ngIf="item['case'] == '3'"><span> &nbsp;+ {{item['metadata2']}}</span></td>

                          <!-- case1 : 메타데이터1에 있던게 메타데이터2에선 사라짐 -->
                              <td class="line-num red-num" *ngIf="item['case'] == '4'">{{i+1}}</td>
                              <td class="line-data red-data" *ngIf="item['case'] == '4'"><span> &nbsp;- {{item['metadata1']}}</span></td>
                              <td class="line-num" *ngIf="item['case'] == '4'">{{i+1}}</td>
                              <td class="line-data" *ngIf="item['case'] == '4'"><span>&nbsp;&nbsp;&nbsp;  {{item['metadata2']}}</span></td>

                      </tr>
              </tbody>
            </table>
    </div>
</div>
