<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div  class ="input-form">
    <p class="input-form-title">Input Verify Data</p>

      <div class="input-form-elements" >
          <div style='display:inline;float:left;width:30%' ><label >URL</label></div>
          <div style='display:inline;float:left;width:60%'><input class="input-element1" [(ngModel)]="imageURL" style="border: 0px;border-bottom: #9B9B9B 1.5px solid; background-color: #FAFAFA;"> </div>
      </div>

      <div class="input-form-elements" >
          <div style='display:inline;float:left;width:30%'><label >transparency : {{transparency}}</label></div>
          <div style='display:inline;float:left;width:60%'> <mat-slider  min="0" max="5" step="1" [(ngModel)]="transparent"class="input-element2"></mat-slider></div>
      </div>


      <div class="input-form-button">
       <button mat-raised-button color="primary"  style='display:inline;float:right;width:10%; margin-right:60px;' (click) = "onClickVerifyButton()">Verify</button>
       <button mat-raised-button color="primary"  style='display:inline;float:right;width:10%; margin-right:20px;' (click)="onClickClearButton()">Clear</button>
      </div>

      <mat-radio-group class ="color" [(ngModel)]="color">
          <mat-radio-button value="1">Red</mat-radio-button>
          <mat-radio-button value="2">Green</mat-radio-button>
          <mat-radio-button value="3">Blue</mat-radio-button>
          <mat-radio-button value="4">Black</mat-radio-button>
      </mat-radio-group>

</div>


<div  class ="result-form">
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="no">
        <mat-header-cell *matHeaderCellDef fxFlex="30%"> No. </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="30%"> {{element.no}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="resizedStableServerImageURL">
        <mat-header-cell *matHeaderCellDef> StableServer </mat-header-cell>
        <mat-cell *matCellDef="let element"> <a href={{element.originalStableServerImageURL}} target="_blank"> <img width="80" height="80" src={{element.resizedStableServerImageURL}}></a> </mat-cell>
      </ng-container>


      <ng-container matColumnDef="resizedDevServerImageURL">
        <mat-header-cell *matHeaderCellDef> DevServer </mat-header-cell>
        <mat-cell *matCellDef="let element"> <a href={{element.originalDevServerImageURL}} target="_blank">  <img width="80" height="80" src={{element.resizedDevServerImageURL}}></a> </mat-cell>
      </ng-container>


      <ng-container matColumnDef="resizedResultImageURL">
        <mat-header-cell *matHeaderCellDef> Verified Image </mat-header-cell>
        <mat-cell *matCellDef="let element">  <a href={{element.originalResultImageURL}} target="_blank"> <img width="80" height="80" src={{element.resizedResultImageURL}}></a> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="psnr">
        <mat-header-cell *matHeaderCellDef> PSNR </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.psnr}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
