<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div  class ="input-form">
    <p class="input-form-title">Input Verify Data</p>

      <div class="input-form-elements" >
          <div style='display:inline;float:left;width:30%' ><label >Image URL</label></div>
          <div style='display:inline;float:left;width:60%'><input class="input-element1" [(ngModel)]="imageURL" style="border: 0px;border-bottom: #9B9B9B 1.5px solid; background-color: #FAFAFA;"> </div>
      </div>

      <div class="input-form-elements" >
          <div style='display:inline;float:left;width:30%'><label >Image transparency : {{transparency}}</label></div>
          <div style='display:inline;float:left;width:60%'> <mat-slider  min="0" max="5" step="1" [(ngModel)]="transparent"class="input-element2"></mat-slider></div>
      </div>

      <div class="input-form-button">
       <button mat-raised-button color="primary"  style='display:inline;float:right;width:10%; margin-right:60px;' (click) = "onClickVerifyButton()">Verify</button>
       <button mat-raised-button color="primary"  style='display:inline;float:right;width:10%; margin-right:20px;' (click)="onClickClearButton()">Clear</button>
      </div>
</div>


<div  class ="result-form">
  <div style='display:inline;float:left;width:30%'>
    <mat-card class="card">
          <mat-card-header class="card-header">
              <mat-card-title>Stable Server Image</mat-card-title>
          </mat-card-header>

          <img  mat-card-image  src="{{resizedStableServerImageURL}}" >

          <mat-card-content>
            <a href="{{originalStableServerImageURL}}" style="text-decoration:none;">
              Original Image
            </a>
          </mat-card-content>


    </mat-card>
  </div>

  <div style='display:inline;float:left;width:30%; margin-left:40px'>
    <mat-card class="card">
          <mat-card-header class="card-header">
              <mat-card-title>Dev Server Image</mat-card-title>
          </mat-card-header>

          <img  mat-card-image  src="{{resizedDevServerImageURL}}"  >
          <mat-card-content>
            <a href="{{originalDevServerImageURL}}" style="text-decoration:none;">
              Original Image
            </a>
          </mat-card-content>



    </mat-card>
  </div>

  <div style='display:inline;float:left;width:30%; margin-left:40px'>
    <mat-card class="card">
          <mat-card-header class="card-header">
              <mat-card-title>Verified Image</mat-card-title>
          </mat-card-header>

          <img mat-card-image src="{{resizedResultImageURL}}"  >


          <mat-card-content>
            <a href="{{originalVerifyImageURL}}" style="text-decoration:none;">Original Image</a>
            <p>PSNR : {{psnr}}</p>
          </mat-card-content>

    </mat-card>
  </div>
</div>
