<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-sidenav-container class="all-wrap" fullscreen>
  <mat-sidenav #sidenav class="sidenav"  mode="over">
    <mat-list >


      <mat-list >
        <mat-list-item>
          <img mat-list-avatar src="./assets/image/favicon.ico">
          <span mat-line><p class="sidenav-title">Verify Tool</p></span>
        </mat-list-item>
      </mat-list>

      <!-- <mat-list-item routerLink="verifyimage"> Image Verify</mat-list-item>
      <mat-list-item routerLink="verifymetadata"> Metadata Verify</mat-list-item> -->

<mat-nav-list >
      <ng-container >
        <mat-list-item (click)="onClickSideMenu('/verifyimage');sidenav.close();">
          <mat-icon>image</mat-icon>
          <span mat-line><p class="sidenav-subtitle">Verify using url </p></span>
          <mat-divider></mat-divider>
        </mat-list-item>
      </ng-container>

      <ng-container >
        <mat-list-item (click)="onClickSideMenu('/verifyimagelist');sidenav.close();" >
          <mat-icon>receipt</mat-icon>
          <span mat-line><p class="sidenav-subtitle">Verify using txt file </p></span>
          <mat-divider></mat-divider>
        </mat-list-item>
      </ng-container>

      <ng-container >
        <mat-list-item (click)="onClickSideMenu('/verifymetadata');sidenav.close();" >
          <mat-icon>receipt</mat-icon>
          <span mat-line><p class="sidenav-subtitle">Verify Metadata </p></span>
          <mat-divider></mat-divider>
        </mat-list-item>
      </ng-container>


</mat-nav-list>

    </mat-list>
  </mat-sidenav>

  <div class="page-wrap">
    <header role="banner">
      <mat-toolbar color="primary">
        <button
          type="button"
          mat-icon-button
          (click)="sidenav.open()"
          title="Open sidenav">
          <mat-icon>menu</mat-icon>
        </button>
          Verify Tool
      </mat-toolbar>
    </header>
    <main class="content">
      <router-outlet></router-outlet>
    </main>

  </div>
</mat-sidenav-container>
